@import url(https://fonts.googleapis.com/css?family=Poppins:300);

.body{
  background-color: tomato;
  display: flex;
  justify-content: center;
}

.container{
  font-family: "poppins",sans-serif;
  height: 25rem;
  width: 30rem;
  box-sizing: border-box;
  background-color: salmon;
  border: 2px solid black;
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container h1{
  font-size: 1.8rem;
}

.angleContainer{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 45%;
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
}

.acute-angle {
  height: 90px;
  width: 100px;
  border-bottom: 1px solid red;
  border-left: 2px solid red;
  transform: skew(-45deg);
}

.right-angle {
  height: 90px;
  width: 100px;
  border-bottom: 1px solid red;
  border-left: 2px solid red;
  transform: skew(-0deg);
}

.obtuse-angle {
  height: 70px;
  width: 100px;
  border-bottom: 1px solid red;
  border-left: 2px solid red;
  transform: skew(40deg);
}

.straight-line {
  height: 50px;
  width: 180px;
  border-bottom: 1px solid red;
}